.header{

    background-image: url("https://thumbs.dreamstime.com/b/indian-food-curry-butter-chicken-palak-paneer-chiken-tikka-biryani-vegetable-curry-papad-dal-palak-sabji-jira-alu-rice-138550014.jpg");
    background-size: cover;
    height: 400px;
    color:white;
    text-align: center;
    font-size: 30px;
    font-style: oblique;
}