.header{

    background-image: url("https://thumbs.dreamstime.com/b/indian-food-curry-butter-chicken-palak-paneer-chiken-tikka-biryani-vegetable-curry-papad-dal-palak-sabji-jira-alu-rice-138550014.jpg");
    background-size: cover;
    height: 400px;
    color:white;
    text-align: center;
    font-size: 30px;
    font-style: oblique;
    width:100%;

}

.routes *{
    float:right;
    padding:20px;
    font-size: 20px;
    color:white;
    padding-top:0px ;
}

.restcard{
    display:grid;
    grid-template-columns: 30% 30% 30%;
    /* grid-template-rows: auto auto auto; */
    /* justify-content: space-around; */
    margin: auto;
    margin-bottom: 20px;
    
}

.restcard div{
    margin-bottom: 30px;
    
}

.restcard img{
    width:100%;
    height:250px;
}

.cart{
    height:50px;
    width:50px;
    float:right;
}

.rest{
    display:grid;
    grid-template-columns: 40% 40%;
    /* grid-template-rows: auto auto auto; */
    /* justify-content: space-around; */
    margin-left: 300px;
    grid-gap :30px;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}

.rest img{
    width:100%;
    height:350px;
    margin:auto;
    padding :20px;
    
}

/* .rest span{
    width:60px;
    margin:auto;
    font-size: large;
    padding :20px;
    
} */

.bordr{
    border-radius: 15px;
    /* border:2px solid black; */
    background-color: blue;
    color:wheat;
    padding: 10px;
    font-weight: bold;
}

.search{
    border-radius: 15px;
    /* border:2px solid black; */
    background-color:lightgrey;
    color:grey;
    padding: 10px;
}